// -------- Variables --------

// Colors

$white: #ffffff;
$black: #1d1d1f;
$gray: #838383;

// Fonts

$main-font: 'Inter', sans-serif;

// Screens

$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';

// -------- Variables --------
