// -------- Use --------

@use 'reset';
@use 'variables' as *;
@use 'mixins' as *;
@use 'sections';

// -------- Use --------

// -------- General --------

body {
  font-family: $main-font;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

[class*='__container'] {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 121.5rem;
}

.main {
  flex: 0 1 auto;
}

.overflow {
  overflow: hidden;
}

// -------- General --------
